<!DOCTYPE html>
<html lang="sk">
<head>
  <meta charset="UTF-8">
  <title>Obrazovka <%= screenId %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="screen-body">
  <main>
    <h1>Obrazovka <%= screenId %></h1>
    <div id="video-container" class="screen-video-container"></div>
  </main>

  <!-- Socket.IO -->
  <script src="/socket.io/socket.io.js"></script>
  <!-- PeerJS z lokálu -->
  <script src="/vendor/peerjs.min.js"></script>

  <script>
    const ROOM_ID = "<%= roomId %>";
    const SCREEN_ID = <%- JSON.stringify(screenId) %>;
  </script>

  <script src="/screen.js"></script>
</body>
</html>
